<p style="color: green"><%= notice %></p>

<h1><%= @account.name%>'s transactions</h1>

<div id="accounts">
  <table>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Created At</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.normalized_amount%></td>
        <td><%= transaction.transaction_type%></td>
        <td><%= transaction.created_at.strftime("%D %T")%></td>
      </tr>
    <% end %>
  </table>
</div>
