<h1 class="text-2xl"> Trends <h1>
<%= link_to "<< Back to Accounts", accounts_path(), class: " p-2 rounded-lg text-blue-500 hover:underline" %>
<div class="space-y-10">
  <div class="bg-gray-800 rounded-xl  p-4 inline-block   w-full overflow-y-scroll">
    <h2 class="text-xl ml-2">Transactions</h2>
    <table class="mb-8">
    <tr>
      <% header = @trends.shift %>
      <% header.each_with_index do |it, idx| %>
        <% if idx == 0 %>
          <th class="px-2 text-left"><%= it %></th>
        <% else %>
          <th class="px-2 text-right"><%= it %></th>
        <% end %>
      <%end%>
    </tr>
    <% @trends.each do |row| %>
      <tr>
        <% row.each do |it| %>
          <% if it.is_a? String %>
            <td class="px-2"><%= it %></td>
          <% else %>
            <td class="px-2 text-right"><%= number_with_delimiter(it) %></td>
          <% end %>
        <%end%>
      </tr>
    <%end%>
    </table>
  </div>
  <br>

  <div class="bg-gray-800 rounded-xl p-4  inline-block   w-full overflow-y-scroll">
  <h2 class="text-xl ml-2">Amounts</h2>
    <table>
    <tr>
      <% header = @payouts.shift %>
      <% header.each_with_index do |it, idx| %>
        <% if idx == 0 %>
          <th class="px-2 text-left"><%= it %></th>
        <% else %>
          <th class="px-2 text-right"><%= it %></th>
        <% end %>
      <%end%>
    </tr>
    <% @payouts.each do |row| %>
      <tr>
        <% row.each do |it| %>
          <% if it.is_a? String %>
            <td class="px-2"><%= it %></td>
          <% else %>
            <td class="px-2 text-right"><%= number_with_delimiter(it) %></td>
          <% end %>
        <%end%>
      </tr>
    <%end%>
    </table>
  </div>
  <br>
  <div class="bg-gray-800 rounded-xl  p-4 inline-block">
    Next Node: <%= number_with_delimiter @countdown.to_i %>
  </div>
  <br>
  
  <br>
  <div class="bg-gray-800 rounded-xl  p-4 inline-block  w-full overflow-y-scroll">
    <h1 class="text-xl"> Transactions per hour (last 72h) <h1>
    <table>
      <tr>
        <th class="px-2 text-left">Account</th>
        <% header = @hourly[:keys] %>
        <% header.each_with_index do |it, idx| %>
          <th class="px-1 text-center"><%= raw it %></th>
        <%end%>
      </tr>
      <% @counts.each do |k| %>
        <% v = @hourly[:data][k]; next if v.nil? %>
        <tr >
          <td class="px-2 text-right" style="min-width: 236px;" ><%= Account.find(k).name %></td>
          <% header.each do |key| %>
            <td>
              <div  class="m-1 text-center pt-3 rounded-xl w-12 h-12 <%= bg_helper(v[key]) %>">
                <%= number_with_delimiter(v[key]) %>
              </div>
            </td>
          <%end%>
        </tr>
      <%end%>
    </table>
  </div>

   <br>
  <div class="bg-gray-800 rounded-xl  p-4 inline-block w-full overflow-y-scroll">
    <h1 class="text-xl"> Paw per hour (last 72h) <h1>
    <table>
      <tr>
        <th class="px-2 text-left">Account</th>
        <% header = @hourly[:keys] %>
        <% header.each_with_index do |it, idx| %>
          <th class="px-1 text-center"><%= raw it %></th>
        <%end%>
      </tr>
      <% @counts.each do |k| %>
        <% v = @hourly_paw[:data][k]; next if v.nil? %>
        <tr >
          <td class="px-2 text-right" style="min-width: 236px;" ><%= Account.find(k).name %></td>
          <% header.each do |key| %>
            <td>
              <div  class="m-1 text-center pt-3 rounded-xl w-12 h-12 <%= paw_bg_helper(v[key]) %>">
                <%= number_to_human(v[key]) %>
              </div>
            </td>
          <%end%>
        </tr>
      <%end%>
    </table>
  </div>
</div>